

html, body{
  margin: 0;
  padding: 0;
  width:100%;
  box-sizing:border-box;
  font-family: var(--pg-text-font);
  background: var(--pg-bg-color);
}

*, *:before, *:after{
  box-sizing:border-box;
}

h1, h2, h3{
	font-family: var(--pg-header-font);
}

img{
	max-width: 100%;
	max-height: 100%;

}

li{
	list-style-type: none;
}

a{
  color: black;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}