

:root {
--pg-bg-color: #C0C0C0;
--header-color: #F5F5F5;
--header-border-color: #c5b358;
--menu-item-hoverd-color: #c5b358;
--footer-color: #c5b358;
}


@custom-media --desktop-viewport (min-width: 30em);

@custom-media --desktop-viewport-2 (min-width: 43em);