
.navi{
	display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
	@media (--desktop-viewport) {
		flex-direction: row;
	}
	&__header{
		margin-top: 0px;
		width: 100%;
		font-size: 1.5em;
		text-align: center;
		background: linear-gradient(var(--header-txt-color-2), var(--header-txt-color));
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		@media (--desktop-viewport) {
			margin-top: 20px;
			width: 50%;
		}
	}
}

.menu{
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 100%;
	@media (--desktop-viewport) {
		flex-direction: row;
		width: 40%;
	}
	&__item{
		margin: 0 5px;
		padding: 5px;
		width: calc(100% / 3);
		border-radius: 2px;
		text-align: center;
		transition: .5s all;
		a{
			transition: .5s all;
		}
	}
}


.jumbotron{
	width: 100%;
}

.page-header{
	text-align:center;
	font-size: 3em;
	text-shadow: 0 0 13px darkgoldenrod;
}

.familyPic{
	display:flex;
	flex-direction: row;
	width:100%;
	background: black;
	object-fit: cover;
	&__lrgImg{
		width: 100%;
		object-fit: cover;
		opacity: .6;
	}
	&__title{
		position: absolute;
		top: 360px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 5em;
		background: linear-gradient(var(--header-txt-color), var(--header-txt-color-2));
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		@media (--desktop-viewport) {
			top: 220px;
			font-size: 10em;
		}
	}
}

.familyMembers{
	&__row{
		display:flex;
		width:100%;
	}
	&--1{
		flex-direction:column;
		@media (--desktop-viewport-2) {
			flex-direction:row;
		}
	}
	&--2{
		flex-wrap: wrap;
	}
	&__parent{
		width:100%;
		height:370px;
		@media (--desktop-viewport-2) {
			width:calc(100% / 2);
		}
	}
	&__parent-name{
		position: relative;
		top: -50px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 2.5em;
		@media (--desktop-viewport) {
			font-size: 4.0em;
		}
	}
	&__kid{
		width:calc(100% / 2); 
		height:200px;
		@media (--desktop-viewport-2) {
			width:calc(100% / 4);
		}
	}
	&__kid-name{
		position: relative;
		top: -50px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 2em;
		@media (--desktop-viewport) {
			font-size: 2.5em;
		}
	}
}


.family-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width:75%;
	@media (--desktop-viewport) {
		width:55%;
	}
	&__person{
		margin-bottom: 25px;
		width: 100%;
	}
	&__name{
		font-size:2em;
		text-align: center;
	}
}


.profile{
	margin-top:50px;
	margin-right: auto;
	margin-left: auto;
	width:75%;
	&__intro{
		text-align:center;
		font-size: 3em;
		text-shadow: 0 0 13px darkgoldenrod;
	}
	&__img{
		margin-top:25px;
		margin-right: auto;
		margin-left: auto;
	}
}
