
.navi{
	display: flex;
    flex-direction: column;
	width: 100%;
	height: 100%;
	@media (--desktop-viewport) {
		flex-direction: row;
	}
	&__header{
		margin-top: 0px;
		width: 100%;
		font-size: 1.5em;
		text-align: center;
		background: linear-gradient(var(--header-txt-color-2), var(--header-txt-color));
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		@media (--desktop-viewport) {
			margin-top: 20px;
			width: 50%;
		}
	}
}

.menu{
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
    width: 100%;
	@media (--desktop-viewport) {
		flex-direction: row;
		width: 40%;
	}
	&__item{
		margin: 0 5px;
		padding: 5px;
		width: calc(100% / 3);
		border-radius: 2px;
		text-align: center;
		border: 2px solid #c5b358;
		transition: .5s all;
		a{
			transition: .5s all;
		}
	}
}


.jumbotron{
	width: 100%;
}

.page-header{
	text-align:center;
	font-size: 3em;
	text-shadow: 0 0 13px darkgoldenrod;
}

.familyPic{
	display:flex;
	flex-direction: row;
	width:100%;
	background: black;
	object-fit: cover;
	&__lrgImg{
		width: 100%;
		object-fit: cover;
		opacity: .6;
	}
	&__title{
		position: absolute;
		top: 150px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 5em;
		background: linear-gradient(var(--header-txt-color), var(--header-txt-color-2));
		-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		@media (--desktop-viewport) {
			top: 110px;
			font-size: 10em;
		}
	}
}

.familyMembers{
	&__row{
		display:flex;
		width:100%;
	}
	&--1{
		flex-direction:column;
		@media (--desktop-viewport-2) {
			flex-direction:row;
		}
	}
	&--2{
		flex-wrap: wrap;
	}
	&__parent{
		width:100%;
		height:400px;
		border: 1px solid var(--image-border-color);
		@media (--desktop-viewport-2) {
			width:calc(100% / 2);
			top: 130px;
		}
		&-image{
			width: 100%;
			object-fit: cover;
			object-position: 50% 15%;
		}
	}
	&__parent-name{
		position: relative;
		top: -130px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 2.5em;
		transition: .3s all;
		@media (--desktop-viewport) {
			font-size: 4.0em;
		}
	}
	&__kid{
		width:calc(100% / 2); 
		height:300px;
		border: 1px solid var(--image-border-color);
		@media (--desktop-viewport-2) {
			width:calc(100% / 4);
			height:250px;
		}
		&-image{
			width: 100%;
			object-fit: cover;
			object-position: 50% 10%;
		}
		@media (--desktop-viewport-3) {
			height: 300px;
		}
	}
	&__kid-name{
		position: relative;
		top: -80px;
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-size: 2em;
		transition: .3s all;
		@media (--desktop-viewport) {
			font-size: 2.5em;
		}
	}
}


.family-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	@media (--desktop-viewport) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__person{
		margin-right: auto;
		margin-bottom: 85px;
		margin-left: auto;
		width: 400px;
		height: 400px;
		@media (--desktop-viewport) {
			margin-right: 20px;
			margin-left: 20px;
		}
	}
	&__img{
		width: 100%;
		border: 1px solid var(--image-border-color);
		object-fit: cover;
		object-position: 50% 10%;
	}
	&__name{
		font-size:2em;
		text-align: center;
	}
}


.profile{
	margin: 75px auto;
	width:75%;
	&__intro{
		text-align:center;
		font-size: 3em;
		text-shadow: 0 0 13px darkgoldenrod;
	}
	&__img-container{
		margin-top:25px;
		margin-right: auto;
		margin-left: auto;
		width: 400px;
		height: 400px;
	}
	&__img{
		width: 100%;
		border: 1px solid var(--image-border-color);
		object-fit: cover;
		object-position: 50% 10%;
	}
}

.footer{
	padding-top: 20px;
	height: 100px;
    line-height: 10px;
	&__source{
		font-weight:bolder;
		letter-spacing:1px;
		transition: .3s all;
	}
}